<!-- filling in the block of the header.html -->
{% extends "home/header.html" %}
{% block menu %}
	{% include "home/includes/menu.html" %}
{% endblock %}
{% block accueil %}
	{% include "home/includes/accueil2.html" %}
{% endblock %}
{% block collection %}
	{% include "collection_ephemere/includes/collection_ephemere.html" %}
{% endblock %}
{% block customise %}
	{% include "cutsomise/includes/customise.html" %}
{% endblock %}
{% block achat %}
	{% include "achetez/includes/achat.html" %}
{% endblock %}
{% block vendre %}
	{% include "vendre/includes/vendre.html" %}
{% endblock %}
{% block footer %}
	{% include "home/includes/footer.html" %}
{% endblock %}
<!-- Note that first the html is loaded, and then the js/css in order to allow a
faster render -->
{% block scriptMenu %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'my_custom.min.css' %}">
	<script type="text/javascript" src="{% static 'my_custom.min.js' %}"></script>
{% endblock %}