{
  "plugins": [
    ["transform-strict-mode", {
      "strict": false,
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ]
}
