.Paypal-icon ,
.facebook ,
.icons8-Back-26 ,
.icons8-CircledPlayFilled-50 ,
.icons8-DoubleDownFilled-50 ,
.icons8-Pinterest-26 ,
.instagram ,
.logo_my_custom_police ,
.logomycustombyNFblanc ,
.master-card-icon ,
.twitter ,
.visa {
	background: url(mainPage/image/sprite/sprites.png) no-repeat;
}


.logo_my_custom_police ,
.icons8-DoubleDownFilled-50 {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
	filter: invert(100%);
}

.facebook ,
.twitter ,
.instagram ,
.icons8-Pinterest-26 ,
.Paypal-icon ,
.master-card-icon ,
.visa {
	-webkit-filter: invert(70%);
	-moz-filter: invert(70%);
	-o-filter: invert(70%);
	-ms-filter: invert(70%);
	filter: invert(70%);
}

.Paypal-icon {
	width: 50px;
	height: 50px;
	background-position: -163px 0;
}

.facebook {
	width: 20px;
	height: 20px;
	background-position: -214px 0;
}

.icons8-Back-26 {
	width: 26px;
	height: 26px;
	background-position: -214px -21px;
}

.icons8-CircledPlayFilled-50 {
	width: 50px;
	height: 50px;
	background-position: 0 -51px;
}

.icons8-DoubleDownFilled-50 {
	width: 50px;
	height: 50px;
	background-position: -51px -51px;
}

.icons8-Pinterest-26 {
	width: 20px;
	height: 20px;
	background-position: -225px -48px;
}

.instagram {
	width: 20px;
	height: 20px;
	background-position: -204px -51px;
}

.logo_my_custom_police {
	width: 162px!important;
	height: 50px!important;
	background-position: 0 0;
	transform : scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
}

.logomycustombyNFblanc {
	width: 100px;
	height: 98px;
	background-position: -246px 0;
}

.master-card-icon {
	width: 50px;
	height: 50px;
	background-position: -102px -51px;
}

.twitter {
	width: 20px;
	height: 20px;
	background-position: -225px -69px;
}

.visa {
	width: 50px;
	height: 50px;
	background-position: -153px -51px;
}