{% load staticfiles %}
<div id="customize" class="space_section">
	<center>
		{% for onglet in customiseOnglet_from_view %}
			{% if onglet.confirm %}
				<div class="col-xs-12 space_section-lg fond" style="color: {{ onglet.couleur_titre }}; background-image: url({{ onglet.image_titre.url }}); ">
					<div class="container">
						<h2>{{ onglet.titre }}</h2>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<div class="container">
			<p class="container myfont-lg">Consectetur beatae autem corporis magni consectetur commodi tempora minima. Corrupti necessitatibus libero ut labore. Sit explicabo quaerat optio architecto.Dolorum qui molestiae facere omnis quo totam mollitia tempora.
				Velit molestiae vitae nemo occaecati.</p>
			<div class="col-md-6 myfont" style="box-shadow: 0px 5px 10px;">
				<h3>Catégories</h3>
				<div id='categorie_container'>
					<div class="panel-group" id="accordion_2" role="tablist" aria-multiselectable="true">
						{% for categorie in customise_categorie_from_view %}
							{% if categorie.confirm %}
								<div class="panel panel-default">
									<div role="button" data-toggle="modal" data-parent="#accordion_2" data-target="#test_{{ categorie.id }}" class="categorie animation_ease-slow" style="background-image: url({{ categorie.image.url }});">
										<b>{{ categorie.nom }}
										</b>
									</div>
									<div class="modal fade bs-example-modal-lg" id="test_{{ categorie.id }}" tabindex="-1" role="dialog" aria-labelledby="testLabel">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<h2 class="modal-title" id="testLabel">{{ categorie.nom }}</h2>
												</div>
												<div class="modal-body" style="overflow: hidden;">
													{% for element in Produit_from_view %}
														{% if element.confirm %}
															{% if element.categorie == categorie %}
																<div
																	class="produit animation_ease col-{{ element.taille }}-offset-{{ element.nombre_offset }} col-{{ element.taille }}-{{ element.nombre_colonnes }}"
																	style="
																display: block;
																border : {{ element.type_contour }} {{ element.epaisseur_contour }}px {{ element.couleur_contour }};
																border-radius: {{ element.contour_arrondi }}px;
																color : {{ element.couleur_text }};
																background-color: {{ element.couleur_fond }}">
																	<center>
																		<h3 class="myfont">{{ element.nom }}
																		</h3>
																		<div class="text-center">
																			<a type="button" style="cursor: pointer;">
																				<img class="resize_width adjust_height produitImage" style="
																		background-color: {{ element.couleur_fond_image }};
																		border-radius: {{ element.contour_arrondi_image }}px;" src="{{ element.face_style.url }}">
																			</a>
																		</div>
																		<br>
																		<br>
																		<p class="myfont">{{ element.prix }}€</p>
																		<p class="myfont">{{ element.text_description_short }}</p>
																	</center>
																</div>
																<div class="produitDetail" style="display: none;">
																	<p class="myfont-lg">{{ element.text_description_short }}
																		:
																		{{ element.prix}}€</p>
																	<div id="produitDroite" class="col-xs-10" style="border: solid 1px gray; border-radius: 10px 0 0 10px;">
																		<img class="produitImage droite" style="height :400px; width: auto;
																	background-color: {{ element.couleur_fond_image }};" src="{{ element.face_style.url }}">
																	</div>
																	<div class="col-xs-2" style="border: solid 1px gray; border-radius:0 10px 10px 0;">
																		<img class="produitImage gauche" style=" height: 100px; width: auto;
																	background-color: {{ element.couleur_fond_image }};" src="{{ element.face_style.url }}"><br>
																		<img class="produitImage gauche" style=" height: 100px; width: auto;
																	background-color: {{ element.couleur_fond_image }};" src="{{ element.dos_style.url }}"><br>
																		<img class="produitImage gauche" style=" height: 100px; width: auto;
																	background-color: {{ element.couleur_fond_image }};" src="{{ element.gauche_style.url }}"><br>
																		<img class="produitImage gauche" style=" height: 100px; width: auto;
																	background-color: {{ element.couleur_fond_image }};" src="{{ element.droite_style.url }}"><br>
																	</div>
																	<button class="fermer" style="margin-top: 10px;"><img style="height: 40px; width: auto;" src="{% static 'mySelf/image/icons8-Back-26.png' %}"></button>
																	<a href="TshirtDesigner/designer/{{ element.num }}" style="margin-top: 10px;">
																		<button>Customier !
																			<img style="height: 40px; width: auto;" src="{% static 'mySelf/image/logo my custom by NF blanc.png' %}"></button>
																	</a>
																</div>
															{% endif %}
														{% endif %}
														{% empty %}
														<p class="myfont">il n'y pas d'éléments dans la collection pour le moment ...
														</p>
													{% endfor %}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-6 myfont" style="box-shadow: 0px 5px 10px;">
				<h3>Produits</h3>
				<div style="overflow: scroll; height: 750px;">
					{% for produit in customise_produit_from_view %}
						{% if produit.confirm %}
							<div class="panel panel-default">
								<div role="button" data-toggle="modal" data-parent="#accordion_2" data-target="#test_{{ produit.id }}" class="categorie animation_ease-slow" style="background-image: url({{ produit.image.url }});">
									<b>{{ produit.nom }}
									</b>
								</div>
								<div class="modal fade bs-example-modal-lg" id="test_{{ produit.id }}" tabindex="-1" role="dialog" aria-labelledby="testLabel">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<h2 class="modal-title" id="testLabel">{{ produit.nom }}</h2>
											</div>
											<div class="modal-body" style="overflow: hidden;">
												{% for element in Produit_from_view %}
													{% if element.confirm %}
														{% if element.type_produit == produit %}
															<div
																class="produit animation_ease col-{{ element.taille }}-offset-{{ element.nombre_offset }} col-{{ element.taille }}-{{ element.nombre_colonnes }}"
																style="
															display: block;
															border : {{ element.type_contour }} {{ element.epaisseur_contour }}px {{ element.couleur_contour }};
															border-radius: {{ element.contour_arrondi }}px;
															color : {{ element.couleur_text }};
															background-color: {{ element.couleur_fond }}">
																<center>
																	<h3 class="myfont">{{ element.nom }}
																	</h3>
																	<div class="text-center">
																		<a type="button" style="cursor: pointer;">
																			<img class="resize_width adjust_height produitImage" style="
																	background-color: {{ element.couleur_fond_image }};
																	border-radius: {{ element.contour_arrondi_image }}px;" src="{{ element.face_style.url }}">
																		</a>
																	</div>
																	<br>
																	<br>
																	<p class="myfont">{{ element.prix }}€</p>
																	<p class="myfont">{{ element.text_description_short }}</p>
																</center>
															</div>
															<div class="produitDetail" style="display: none;">
																<p class="myfont-lg">{{ element.text_description_short }}
																	:
																	{{ element.prix}}€</p>
																<div id="produitDroite" class="col-xs-10" style="border: solid 1px gray; border-radius: 10px 0 0 10px;">
																	<img class="produitImage droite" style="height :400px; width: auto;
																background-color: {{ element.couleur_fond_image }};" src="{{ element.face_style.url }}">
																</div>
																<div class="col-xs-2" style="border: solid 1px gray; border-radius:0 10px 10px 0;">
																	<img class="produitImage gauche" style=" height: 100px; width: auto;
																background-color: {{ element.couleur_fond_image }};" src="{{ element.face_style.url }}"><br>
																	<img class="produitImage gauche" style=" height: 100px; width: auto;
																background-color: {{ element.couleur_fond_image }};" src="{{ element.dos_style.url }}"><br>
																	<img class="produitImage gauche" style=" height: 100px; width: auto;
																background-color: {{ element.couleur_fond_image }};" src="{{ element.gauche_style.url }}"><br>
																	<img class="produitImage gauche" style=" height: 100px; width: auto;
																background-color: {{ element.couleur_fond_image }};" src="{{ element.droite_style.url }}"><br>
																</div>
																<button class="fermer" style="margin-top: 10px;"><img style="height: 40px; width: auto;" src="{% static 'mySelf/image/icons8-Back-26.png' %}"></button>
																<a href="TshirtDesigner/designer/{{ element.num }}" style="margin-top: 10px;">
																	<button>Customier !
																		<img style="height: 40px; width: auto;" src="{% static 'mySelf/image/logo my custom by NF blanc.png' %}"></button>
																</a>
															</div>
														{% endif %}
													{% endif %}
													{% empty %}
													<p class="myfont">il n'y pas d'éléments dans la collection pour le moment ...
													</p>
												{% endfor %}
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</center>
</div>
<br>
<br>
<br>
<center>
	<h2 class="myfont-llg">Vous cherchez quelque chose en particulier ?
	</h2>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="input-group">
					<div class="input-group-btn search-panel">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-bottom-left-radius: 15px; border-top-left-radius: 15px; ">
							<span id="search_concept" class="myfont">Filtre par</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a class="myfont" href="#date">Date</a>
							</li>
							<li>
								<a class="myfont" href="#categorie">Catégorie</a>
							</li>
							<li>
								<a class="myfont" href="#artiste">Artiste</a>
							</li>
							<li>
								<a class="myfont" href="#popularité">Popularité</a>
							</li>
						</ul>
					</div>
					<input type="hidden" name="search_param" value="all" id="search_param">
					<input type="text" class="form-control myfont" name="x" placeholder="Entrez un mot clé ...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" style="border-bottom-right-radius: 15px; border-top-right-radius: 15px;">
							<span style="padding-right: 10px;" class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</center>
