{% load staticfiles %}
<div id="conteneur" style="display: block;margin: auto;">
<link type="text/css" rel="stylesheet" href="{% static 'mySelf/css/TshirtDesigner/designer.css' %}">
<script type="text/javascript" src="{% static 'p5/p5.js' %}"></script>
<script type="text/javascript" src="{% static 'p5/p5.dom.js' %}"></script>
<script type="text/javascript" src="{% static 'p5/p5.sound.js' %}"></script>
<script type="text/javascript" src="{% static 'mySelf/js/TshirtDesigner/sketch.js' %}"></script>
<script type="text/javascript" src="{% static 'mySelf/js/TshirtDesigner/designer.js' %}"></script>
<center>
<h1><b>MY CUSTOM - TShirtDesigner</b></h1>
<p>Customisez toutes vos créations sur MYCUSTOM</p>
</center>
<!--||||||||||||||||||||||||||||||||élément visible dès le début||||||||||||||||||||||||||||||||-->
<div style="display: inline-block;" id="buttonNb">
  <span>choisir le nombre et la taille </span><button class="parametre"
  style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/habit.jpeg' %})"></button>
</div>
<div style="display: inline-block;" id="buttonProduit">
  <span>choisir un produit </span><button class="parametre"
  style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/produit.png' %});"></button>
</div>
<div style="display: inline-block;" id="buttonDesign">
  <span>trouver un design </span><button class="parametre"
  style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/design.jpeg' %});"></button>
</div>
<div style="display: inline-block;display:table;" id="buttonImage">
  <span style="margin: auto;display:table-cell;vertical-align:middle;">télécharger une image</span><label for="file-input" class="input-label"><img src="{% static 'mySelf/image/TShirtDesigner/image/image.png' %}" class="parametre"><input type="file" id="file-input"></label>
</div>
<div style="display: inline-block;" id="buttonText">
  <span>ajouter un texte </span><button class="parametre" style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/text.png' %});"></button>
</div>
<button class="orientation" style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/1-face.png' %})" id="face">face</button>
<button class="orientation" style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/1-dos.png' %})" id="dos">dos</button>
<button class="orientation" style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/1-droite.png' %})" id="droite">droite</button>
<button class="orientation" style="background-image: url({% static 'mySelf/image/TShirtDesigner/image/1-gauche.png' %})" id="gauche">gauche</button>
<!--||||||||||||||||||||||||||||||||éléments dans les modals||||||||||||||||||||||||||||||||-->
<!-- Choix des Produit -->
<div id="modalProduit" class="modal-right">
  <div class="modal-content" style="height: 450px;">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Choissez votre produit</h2>
    </div>
    <div class="modal-body">
      <center>
      <object type="image" onclick="changeProdcut('1')" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/image/1-face.png' %}"></object>
      <object type="image" onclick="changeProdcut('2')" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/image/2-face.png' %}"></object>
      <object type="image" onclick="changeProdcut('3')" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/image/3-face.png' %}"></object>
      <object type="image" onclick="changeProdcut('4')" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/image/4-face.png' %}"></object>
      <object type="image" onclick="changeProdcut('5')" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/image/5-face.png' %}"></object>
      </center>
    </div>
  </div>
</div>
<!-- Choix des Design -->
<div id="modalDesign" class="modal-right">
  <div class="modal-content" style="height: 450px;">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Choissez votre logo</h2>
    </div>
    <br>
    <center>
    <button class="choixButton" id="choixDesign">Choix du design</button>
    <button class="choixButton" id="choixParametreDesign">Paramètres du design</button>
    </center>
    <br>
    <div id="choisiDesign" class="modal-body" style="display: block;">
      <center>
      <object type="image" onclick="gotfile(this)" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/logo/logo.png' %}"></object>
      <object type="image" onclick="gotfile(this)" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/logo/Dayan_Passionne.png' %}"></object>
      <object type="image" onclick="gotfile(this)" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/logo/noun_148941_cc.png' %}"></object>
      <object type="image" onclick="gotfile(this)" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/logo/SOYANA NEW ERA.png' %}"></object>
      <object type="image" onclick="gotfile(this)" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/logo/logo DTE vivien tshirt.png' %}"></object>
      <object type="image" onclick="gotfile(this)" style="width: 200px; height: auto;" data="{% static 'mySelf/image/TShirtDesigner/logo/Drake-OVO-Logo-psd68942.png' %}"></object>
      </center>
    </div>
    <div id="choisiParametreDesign" class="modal-body" style="display: none;">
      <p>Customisez des paramètres précis de votre texte :</p>
      <table>
        <tr><td><p>taille du design :</p></td><td><input id="tailleImage" type="range"  min="0" max="100"/></td><td><p>test</p></td></tr>
        <tr><td><p>orientation du design :</p></td><td><input id="orientationImage" type="range"  min="0" max="100"/></td><td><p>test</p></td></tr>
        <tr><td><p>position "x" du design :</p></td><td><input id="xImage" type="range"  min="0" max="100"/></td><td><p>test</p></td></tr>
        <tr><td><p>position "y" du design :</p></td><td><input id="yImage" type="range"  min="0" max="100"/></td><td><p>test</p></td></tr>
      </table>
    </div>
  </div>
</div>
<!-- Choix sur le texte  -->
<div id="modalTexte" class="modal-right">
  <div class="modal-content" style="height: 450px;">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Écrivez sur votre produit !</h2>
    </div>
    <center>
    <br>
    <button class="choixButton" id="choixTexte">Choix du texte</button>
    <button class="choixButton" id="choixParametreTexte">Paramètres du texte</button>
    <br>
    </center>
    <div id="choisiTexte" class="modal-body" style="display: block;">
      <center>
      <button id="ajoutText" class="choixButton">Ajouter plus de Texte</button>
      </center>
      <p>Entrez votre texte ici :</p>
      <center>
      <textarea id="first"></textarea>
      </center>
    </div>
    <div id="choisiParametreTexte" class="modal-body" style="display: none;">
      <p>Choississez la couleur de votre texte :</p>
      <center>
      <table id="tblColorPalette" class="colorPicker" style="background-color: white;">
        <tr>
          <td style="background-color:blue;" onclick="colorPicker_OnClick('blue')" title="blue"></td>
          <td style="background-color:MediumBlue;" onclick="colorPicker_OnClick('MediumBlue')" title="MediumBlue"></td>
          <td style="background-color:DarkBlue;" onclick="colorPicker_OnClick('DarkBlue')" title="DarkBlue"></td>
          <td style="background-color:DarkBlue;" onclick="colorPicker_OnClick('DarkBlue')" title="DarkBlue"></td>
          <td style="background-color:Navy;" onclick="colorPicker_OnClick('Navy')" title="Navy"></td>
          <td style="background-color:DarkTurquoise;" onclick="colorPicker_OnClick('DarkTurquoise')" title="DarkTurquoise"></td>
          <td style="background-color:DeepSkyBlue;" onclick="colorPicker_OnClick('DeepSkyBlue')" title="DeepSkyBlue"></td>
          <td style="background-color:MediumSpringGreen;" onclick="colorPicker_OnClick('MediumSpringGreen')" title="MediumSpringGreen"></td>
          <td style="background-color:DarkCyan;" onclick="colorPicker_OnClick('DarkCyan')" title="DarkCyan"></td>
          <td style="background-color:Teal;" onclick="colorPicker_OnClick('Teal')" title="Teal"></td>
        </tr>
        <tr>
          <td style="background-color:DarkOrchid;" onclick="colorPicker_OnClick('DarkOrchid')" title="DarkOrchid"></td>
          <td style="background-color:PaleGreen;" onclick="colorPicker_OnClick('PaleGreen')" title="PaleGreen"></td>
          <td style="background-color:DarkViolet;" onclick="colorPicker_OnClick('DarkViolet')" title="DarkViolet"></td>
          <td style="background-color:MediumPurple;" onclick="colorPicker_OnClick('MediumPurple')" title="MediumPurple"></td>
          <td style="background-color:LightGreen;" onclick="colorPicker_OnClick('LightGreen')" title="LightGreen"></td>
          <td style="background-color:GreenYellow;" onclick="colorPicker_OnClick('GreenYellow')" title="GreenYellow"></td>
          <td style="background-color:LightBlue;" onclick="colorPicker_OnClick('LightBlue')" title="LightBlue"></td>
          <td style="background-color:Brown;" onclick="colorPicker_OnClick('Brown')" title="Brown"></td>
          <td style="background-color:Sienna;" onclick="colorPicker_OnClick('Sienna')" title="Sienna"></td>
          <td style="background-color:YellowGreen;" onclick="colorPicker_OnClick('YellowGreen')" title="YellowGreen"></td>
        </tr>
      </table>
      <p>Ou optez pour quelque chose de plus précis :</p><input class="jscolor" value="ab2567">
      </center>
      <p>Customisez des paramètres précis de votre texte :</p>
      <table>
        <tr><td><p>taille du texte :</p></td><td><input id="tailleTexte" type="range" min="0" max="100"/></td><td><p>test</p></td></tr>
        <tr><td><p>orientation du texte :</p></td><td><input id="orientationTexte" type="range" min="0" max="100"/></td><td><p>test</p></td></tr>
        <tr><td><p>position "x" du texte :</p></td><td><input id="xTexte" type="range" min="0" max="100"/></td><td><p>test</p></td></tr>
        <tr><td><p>position "y" du texte :</p></td><td><input id="yTexte" type="range" min="0" max="100"/></td><td><p>test</p></td></tr>
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
</div>
<!-- Choix du nombre et de la taille -->
<div id="modalNb" class="modal-right">
<div class="modal-content" style="height: 450px;">
  <div class="modal-header">
    <span class="close">&times;</span>
    <h2>Choissez votre logo</h2>
  </div>
  <div class="modal-body">
    <center>
    <object type="image" onclick="gotfile(this)" data="{% static 'mySelf/image/TShirtDesigner/logo/Dayan_Passionne.png' %}"></object>
    <object type="image" onclick="gotfile(this)" data="{% static 'mySelf/image/TShirtDesigner/logo/logo.png' %}"></object>
    <object type="image" onclick="gotfile(this)" data="{% static 'mySelf/image/TShirtDesigner/logo/noun_148941_cc.png' %}"></object>
    </center>
  </div>
</div>
</div>
</div>