{% load staticfiles %}
<footer class="wrap">
	<div class="col-sm-12" style="padding: 75px;background-color: rgb(37,33,30);">
		<div class="container">
			<div class="col-sm-2">
				<h3 class="myfont" style="color: white;">MOYEN DE PAIEMENT</h3>
				<span class="myfont">
					<img style="  height: 20px; width: auto; margin-right: 5px; filter: invert(50%);" src="{% static 'mySelf/image/master-card-icon.png' %}">
					Master card
				</span><br>
				<span class="myfont">
					<img style="  height: 20px; width: auto; margin-right: 5px; filter: invert(50%);" src="{% static 'mySelf/image/Paypal-icon.png' %}">
					Paypal
				</span><br>
				<span class="myfont">
					<img style="  height: 20px; width: auto; margin-right: 5px; filter: invert(50%);" src="{% static 'mySelf/image/visa.png' %}">
					Visa
				</span><br>
			</div>
			<div class="col-sm-2">
				<h3 class="myfont" style="color: white;">LANGUES</h3>
				<p class="myfont" style="font-size :10px;">Profitez des services de MY CUTOM dans plusieurs langues :
				</p>
				<a class="myfont" href="" style="color : gray;">Francais</a><br>
				<a class="myfont" href="" style="color : gray;">English</a><br>
				<a class="myfont" href="" style="color : gray;">Deutsch</a><br>
				<a class="myfont" href="" style="color : gray;">Espagnol</a><br>
			</div>
			<div class="col-sm-2">
				<h3 class="myfont" style="color: white;">INFORMATIONS SUR LA SOCIÉTÉ</h3>
				<span class="myfont">A propos de MY CUSTOM</span><br>
				<span class="myfont">Informations sur la socité</span><br>
				<span class="myfont">Code ethique</span><br>
				<span class="myfont">Carrière</span><br>
				<span class="myfont">Politique de confidientialité des cookies</span><br>
			</div>
			<div class="col-sm-2" style="border-right : 1px solid rgb(64,59,53);">
				<h3 class="myfont" style="color: white;">RETROUVEZ NOUS SUR</h3>
				<ul class="social-network social-circle">
					<li>
						<a href="" class="myfont"><img class="icoFacebook" style="filter: invert(50%);" src="{% static 'mySelf/image/facebook.png' %}">facebook</a>
					</li>
					<li>
						<a href="" class="myfont"><img class="icoInstagram" style="filter: invert(50%);" src="{% static 'mySelf/image/instagram.png' %}">instagram</a>
					</li>
					<li>
						<a href="" class="myfont"><img class="icoTwitter" style="filter: invert(50%);" src="{% static 'mySelf/image/twitter.png' %}">twitter</a>
					</li>
					<li>
						<a href="" class="myfont"><img class="icoGoogle" style="filter: invert(50%);" src="{% static 'mySelf/image/google.png' %}">google+</a>
					</li>
					<li>
						<a href="" class="myfont"><img class="icoLinkedin" style="filter: invert(50%);" src="{% static 'mySelf/image/linkedin.png' %}">linkedin</a>
					</li>
				</ul>
			</div>
			<center>
				<div class="col-sm-offset-1 col-sm-3" style="border-bottom: 1px solid rgb(64,59,53); margin-bottom: 10px;">
					<h3 class="myfont" style="color: white;">ABONNEZ VOUS À LA NEWSLETTER</h3>
					<p class="myfont" style="font-size: 10px;">En m'inscrivant, j'accepte les conditions de la Politique de confidentialité de MY CUSTOM et de recevoir les courriels de MY CUSTOM vous présentant nos dernières collections, nos évènements et nos initiatives.</p>
					<br>
					<div class="input-group" style="width: 200px;">
						<input type="text" style=" width: 200px; background-color: rgb(29,26,24); border: 1px solid rgb(64,59,53); " class="form-control myfont" name="x" placeholder="adresse email">
						<span class="input-group-btn">
							<button style="  background-color: rgb(29,26,24);border: 1px solid rgb(64,59,53); " class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<br>
				</div>
			</center>
		</div>
	</div>
</footer>
