{% load staticfiles %}
<footer class="wrap">
	<div class="col-xs-12" style="padding: 75px;background-color: rgb(37,33,30);">
		<div class="container">
			<div class="col-xs-2">
				<h3 class="myfont" style="color: white;">MOYEN DE PAIEMENT</h3>
				<center>
					<div class="master-card-icon"></div>
					<div class="Paypal-icon"></div>
					<div class="visa"></div>
				</center>
			</div>
			<div class="col-xs-2">
				<h3 class="myfont" style="color: white;">LANGUES</h3>
				<p class="myfont" style="font-size :10px;">Profitez des services de MY CUTOM dans plusieurs langues :
				</p>
				<a class="myfont" href="" style="color : gray;">Francais</a><br>
				<a class="myfont" href="" style="color : gray;">English</a><br>
				<a class="myfont" href="" style="color : gray;">Deutsch</a><br>
				<a class="myfont" href="" style="color : gray;">Espagnol</a><br>
			</div>
			<div class="col-xs-2">
				<h3 class="myfont" style="color: white;">INFORMATIONS SUR LA SOCIÉTÉ</h3>
				<span class="myfont">A propos de MY CUSTOM</span><br>
				<span class="myfont">Informations sur la socité</span><br>
				<span class="myfont">Code ethique</span><br>
				<span class="myfont">Carrière</span><br>
				<span class="myfont">Politique de confidientialité des cookies</span><br>
			</div>
			<div class="col-xs-2" style="border-right : 1px solid rgb(64,59,53);">
			<center>
				<h3 class="myfont" style="color: white;">RETROUVEZ NOUS SUR</h3>
				<ul class="social-network social-circle">
						<a class="icoFacebook" href="https://www.facebook.com/1mycustom/"><div class="facebook"></div></a>
						<a class="icoFacebook" href="https://www.instagram.com/1mycustom/"><div class="instagram"></div> </a>
						<a class="icoFacebook" href="https://twitter.com/1mycustom"><div class="twitter"></div> </a>
						<a class="icoFacebook" href="https://fr.pinterest.com/1mycustom/" style="height: 50px; width: 50px;">
							<center>
								<div class="icons8-Pinterest-26" style="margin-top: 10px;"></div> 
							</center>
						</a>
				</ul>
				</center>
			</div>
			<center>
				<div class="col-xs-offset-1 col-xs-3" style="border-bottom: 1px solid rgb(64,59,53); margin-bottom: 10px;">
					<h3 class="myfont" style="color: white;">ABONNEZ VOUS À LA NEWSLETTER</h3>
					<p class="myfont" style="font-size: 10px;">En m'inscrivant, j'accepte les conditions de la Politique de confidentialité de MY CUSTOM et de recevoir les courriels de MY CUSTOM vous présentant nos dernières collections, nos évènements et nos initiatives.</p>
					<br>
					<div class="input-group" style="width: 200px;">
						<input type="text" style=" width: 200px; background-color: rgb(29,26,24); border: 1px solid rgb(64,59,53); " class="form-control myfont" name="x" placeholder="adresse email">
						<span class="input-group-btn">
							<button style="  background-color: rgb(29,26,24);border: 1px solid rgb(64,59,53); " class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<br>
				</div>
			</center>
		</div>
	</div>
</footer>
