<div id="menu_accueil" class="container space_section">
	<center>
	<div class="wrap text-center">
		<h2 class="space_section">Ou souhaitez-vous allez ?</h2>
		<a id="Customizez_accueil" class="col-xs-offset-1 col-xs-2 onglet myfont-lg onglet_menu_accueil animation_ease-slow animation_scale_up"><i class="glyphicon glyphicon-menu glyphicon-tint"></i><br>Customiser</a>
		<a id="Achetez_accueil" class="col-xs-2 onglet myfont-lg onglet_menu_accueil animation_ease-slow animation_scale_up"><i class="glyphicon glyphicon-menu glyphicon-shopping-cart"></i><br>Acheter</a>
		<a class="col-xs-2 onglet_menu_accueil animation_ease-slow animation_scale_up myfont-lg" href="#search"><i class="glyphicon glyphicon-menu glyphicon-search"></i><br>Trouver un logo</a>
		<a id="Vendre_accueil" class="col-xs-2 onglet myfont-lg onglet_menu_accueil animation_ease-slow animation_scale_up"><i class="glyphicon glyphicon-menu glyphicon-euro"></i><br>Vendre</a>
		<a id="Professionel_accueil" type="button" class="col-xs-2 onglet myfont-lg onglet_menu_accueil animation_ease-slow animation_scale_up" data-toggle="modal" data-target="#myModal">
		<i class="glyphicon glyphicon-menu glyphicon-user"></i><br>Connexion</a>
	</div>
	</center>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Connexion</h4>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>

