{% load staticfiles %}
<div id="achat" class="space_section">
  {% for onglet in ongletAchetez_from_view %}
    {% if onglet.confirm %}
      <div class="col-xs-12 space_section-lg fond" style="color: {{ onglet.couleur_titre }}; background-image: url({{ onglet.image_titre.url }}); ">
        <div class="container">
          <h2>{{ onglet.nom }}
          </h2>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <br>
  <br>
  <div class="container">
    <p class="container myfont-lg">Consectetur beatae autem corporis magni consectetur commodi tempora minima. Corrupti necessitatibus libero ut labore. Sit explicabo quaerat optio architecto.Dolorum qui molestiae facere omnis quo totam mollitia tempora.
      Velit molestiae vitae nemo occaecati.</p>
  </div>
  <br><br><br><br>
  <div class="container">
    {% for categorie in achatCategorie_from_view %}
      <a
        style="background-image: url({{ categorie.image.url }});"
        class="wrap col-{{ categorie.taille }}-{{ categorie.nombre_colonnes }} col-{{ categorie.taille }}-offset-{{ categorie.nombre_offset }} collapsed categorie_achat animation_ease-fast animation_scale_up-small"
        role="button"
        data-toggle="modal"
        data-target="#achat_categorie_{{ categorie.id }}">
        <center>
          <b class="myfont" style="color : {{categorie.couleur_titre }} ;">{{ categorie.titre }}
          </b>
        </center>
      </a>
      <div class="modal fade" id="achat_categorie_{{ categorie.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <center>
                <h2 class="myfont-llg">
                  {{ categorie.titre }}</h2>
              </center>
            </div>
            <div class="modal-body col-xs-12" style="overflow: hidden;">
              <div id="propositionLogo" style="display: block;">
                <center>
                  {% for logo in achatLogo_from_view %}
                    {% if logo.categorie == categorie %}
                      {% if logo.confirm %}
                        <div class="gal-item col-{{ logo.taille }}-{{ logo.nombre_colonnes }} col-{{ logo.taille }}-offset-{{ logo.nombre_offset }}">
                          <div class="box">
                            <img src="{{ logo.logo.url }}" class="box logo" style="width: 100%;height: auto; cursor: pointer;">
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                    {% empty %}
                    <p class="myfont">il n'y a pas de logo dans cette catégorie pour le moment ...
                    </p>
                  {% endfor %}
                </center>
              </div>
              <div id="propositionTextile" style="display: none;">
                <center>
                  <p class="myfont-llg">Choisissez votre textil</p>
                </center>
                {% for element in Produit_from_view %}
                  {% if element.confirm %}
                    <div
                      class="produit animation_ease col-{{ element.taille }}-offset-{{ element.nombre_offset }} col-{{ element.taille }}-{{ element.nombre_colonnes }}"
                      style="
                  display: block;
                  border : {{ element.type_contour }} {{ element.epaisseur_contour }}px {{ element.couleur_contour }};
                  border-radius: {{ element.contour_arrondi }}px;
                  color : {{ element.couleur_text }};
                  background-color: {{ element.couleur_fond }}">
                      <center>
                        <h3 class="myfont">{{ element.nom }}
                        </h3>
                        <div class="text-center">
                          <a type="button" style="cursor: pointer;">
                            <img class="resize_width adjust_height produitImage" style="
                      background-color: {{ element.couleur_fond_image }};
                      border-radius: {{ element.contour_arrondi_image }}px;" src="{{ element.face_style.url }}">
                          </a>
                        </div>
                        <br>
                        <br>
                        <p class="myfont">{{ element.prix }}€</p>
                        <p class="myfont">{{ element.text_description_short }}</p>
                      </center>
                    </div>
                  {% endif %}
                {% endfor %}
                <div class="col-xs-12">
                  <center>
                    <button id="fermerLogo" style="margin-top: 10px;"><img style="height: 40px; width: auto;" src="{% static 'mySelf/image/icons8-Back-26.png' %}"></button>
                  </center>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
