{% load staticfiles %}
<div id="menu">
	<nav class="navbar transparent navbar-default navbar-fixed-top">
		<!--navbar-inverse-->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="height: 50px!important;">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<style type="text/css">
				.navbar-default .navbar-nav > li > a {
					color: black;
				}
				.navbar .navbar-collapse {
					text-align: center;
					background-color: #E1E1E1;
				}
				#logo-menu-contenair {
					filter : invert(75%);
				}
				.container-fluid {
					background-color: #E1E1E1;
					height: 50px!important;
				}
			</style>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="/" id="Accueil">ACCUEIL</a>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="/#collection_ephemere" id="Collection">EN CE MOMENT</a>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="/#customize" id="Customizez">CUSTOMISER</a>
					</li>
					<li id='logo-menu-contenair' class="onglet myfont">
						<div id="logo-menu" class="logo_my_custom_police"></div>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="/#achat" id="Achetez">ACHETER</a>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="/#vendre" id="Vendre">VENDRE</a>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" id="Professionel" href="utilisateur/compte/">CONNEXION
						</a>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="">
							<i class="glyphicon glyphicon-shopping-cart"></i>
						</a>
					</li>
					<li>
						<a class="onglet myfont animated-slow fadeInDown" href="#search">
							<i class="glyphicon glyphicon-search"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div id="search">
	<button type="button" class="close">×</button>
	<form>
		<input type="search" value="" class="myfont" placeholder="Entrez un mot clé"/>
		<button type="submit" class="btn btn-primary myfont">Cherchez</button>
	</form>
</div>
