{% load staticfiles %}
  <center>
  <h3 class="myfont">Notre gamme de produit
  </h3>
  <br>
  <br>
  </center>
  <section>
    <div class="container gal-container">
      <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_1" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the first one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_2" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo2.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo2.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the second one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_3" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo3.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo3.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the third one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_4" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo4.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_4" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo4.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the fourth one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_5" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo5.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_5" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo5.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the fifth one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_6" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo6.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_6" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo6.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the sixth one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_7" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo7.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo7.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the seventh one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_8" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo8.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_8" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo8.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the eighth one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_9" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo9.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_9" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo9.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the ninth one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#gal_10" class="wrap">
            <center>
            <img src="{% static 'mySelf/image/logo10.png' %}">
            </center>
          </a>
          <div class="modal fade" id="gal_10" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <center>
                  <img src="{% static 'mySelf/image/logo10.png' %}">
                  </center>
                </div>
                <div class="col-md-12 description">
                  <h4>This is the tenth one on my Gallery</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>